<?xml version='1.0' encoding='UTF-8'?><!DOCTYPE plist PUBLIC '-//Apple//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'><plist version='1.0'><dict><key>items</key><array><dict><key>assets</key><array><dict><key>kind</key><string>software-package</string><key>url</key><string>https://apps.shenzhenair.com:443/uploads/pkgFiles/000037_1670919472316.ipa</string></dict><dict><key>kind</key><string>display-image</string><key>needs-shine</key><true/><key>url</key><string>https://apps.shenzhenair.com:443/uploads/57/appIcon/000027_1509676431950.png</string></dict></array><key>metadata</key><dict><key>bundle-identifier</key><string>com.szair.fms.mobile</string><key>kind</key><string>software</string><key>title</key><string>移动飞管</string></dict></dict></array></dict></plist>